<datalist id="interval-list">
    {% for time in times %}
        <option value="{{ time }}">
    {% endfor %}
</datalist>

<div class="modal fade" id="homework-availability-modal" tabindex="-1" aria-labelledby="homework-availability-modal-1" aria-hidden="true" data-bs-backdrop="static" data-bs-static="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="homework-availability-modal-1">Onboarding</h1>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
            <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="iconoir-calendar"></i></span>
                <select class="form-select" id="select-1" required aria-label="Recommended start of week">
                    <option disabled selected value="">Select start of week</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="0">Sunday</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Date is missing
                </div>
            </div>
          <h5 class="text-center mb-3">Homework Availability - 15 Minute Intervals At Minimum</h5>
          <div>Monday
              <div class="d-flex" id="monFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="monTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="monTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
            <div>Tuesday
              <div class="d-flex" id="tueFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="tueTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="tueTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
            <div>Wednesday
              <div class="d-flex" id="wedFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="wedTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="wedTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
            <div>Thursday
              <div class="d-flex" id="thuFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="thuTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="thuTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
            <div>Friday
              <div class="d-flex" id="friFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="friTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="friTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
            <div>Saturday
              <div class="d-flex" id="satFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="satTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="satTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
            <div>Sunday
              <div class="d-flex" id="sunFlex">
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="sunTime1" aria-label="Monday Time 1" type="time" class="form-control m-2" style="width: 37%">
                  <p class="align-self-end">-</p>
                  <input step="900" list="interval-list" onchange="checkTime(this)" required id="sunTime2" aria-label="Monday Time 2" type="time" class="form-control m-2" style="width: 37%">
                  <button onclick="addTimeAvailability(this)" type="button" class="btn btn-success m-2 flex-fill"><i class="iconoir-plus"></i></button>
              </div>
          </div>
        <div class="modal-footer">
            <button onclick="sendHomeworkAvailabilityTimes()" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>