{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-header text-center"><h3 class="card-title">GradePace | Login</h3> </div>
        <div class="card-body">
            <form class="specific-w-400 mw-100 p-20 m-auto needs-validation" novalidate method="post" action="/login">
                <div class="input-group has-validation mb-3">
                    <span class="input-group-text"><i class="iconoir-mail"></i></span>
                    <input type="email" class="form-control form-control-lg" id="email" required placeholder="Email address" aria-label="Email address" name="username">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid email address
                    </div>
                </div>
                <div class="input-group has-validation mb-3">
                    <span class="input-group-text"><i class="iconoir-lock"></i></span>
                    <input type="password" class="form-control form-control-lg" id="password" required placeholder="Password" aria-label="Password" minlength="8" name="password">
                    <button type="button" class="btn btn-light btn-lg" onclick="togglePasswordVisibility()"><i class="iconoir-eye-closed" id="eye-icon"></i></button>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your password
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                    <button type="submit" class="btn btn-primary ms-auto btn-lg">Sign in</button>
                </div>
                <div class="text-center text-body-secondary">
                    Don't have an account? <a href="./register">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="./static/password_visibility.js"></script>
    <script src="./static/block_submission.js"></script>
    <script src="./static/password_check.js"></script>
{% endblock %}